data/msa/*.a3m
data/esterase_pt/*.pt
data/*.a3m
data/sequences/*.fasta
development/Sergi_code/*
development/version1/*
development/version2/*
development/outlier.py
utilities/*
*.pt
.idea/*
test
ep_pred/__pycache__
ep_pred/extract/__pycache__
ep_pred/prediction/__pycache__
.vscode/launch.json
